---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "../styles/global.css";
// Supports weights 100-900
import "@fontsource-variable/inter";
import Pill from "../components/Pill.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import FormattedDate from "../components/FormattedDate.astro";
import profileImage from "../assets/profile.jpg";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="max-w-2xl mx-auto mt-20 flex flex-col">
      <!-- title -->

      <div class="flex gap-6">
        <Image
          src={profileImage}
          alt="Arseniy Shishaev"
          width={1000}
          height={1000}
          class="rounded-full w-24 h-24 object-cover object-top"
        />
        <div class="flex flex-col gap-3">
          <div class="flex flex-col gap-0.5">
            <h1 class="text-lg font-semibold mt-1 text-zinc-900">
              Arseniy Shishaev
            </h1>
            <!-- subtitle -->
            <h2 class="text-sm font-light text-zinc-600">
              Entrepreneur, software engineer
            </h2>
          </div>
          <div class="flex gap-2">
            <Pill href="https://github.com/arseniy-shishaev" text="GitHub" />
            <Pill
              href="https://linkedin.com/in/arseniy-shishaev"
              text="LinkedIn"
            />
            <Pill href="mailto:arseniy@shishaev.com" text="Email" />
          </div>
        </div>
      </div>

      <!-- Navigation Tabs -->
      <div class="mt-8 border-zinc-200">
        <nav class="flex gap-6">
          <a href="/">
            <button
              id="about-tab"
              class="tab-button text-sm pb-1 border-b-1 border-transparent text-zinc-400 font-light"
            >
              About
            </button>
          </a>
          <button
            id="writing-tab"
            class="tab-button text-sm pb-1 border-b-1 border-zinc-900 text-zinc-900 font-light"
            onclick="switchTab('writing')"
          >
            Writing
          </button>
        </nav>
      </div>
      <ul class="mt-8 flex flex-col gap-6">
        {
          posts.map((post) => (
            <li>
              <a href={`/writing/${post.id}/`}>
                <div class="flex gap-4 items-center w-full">
                  <div class="">
                    <p class="date w-24 text-right text-sm font-light text-zinc-400">
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                  </div>

                  <h4 class="title flex-3 text-zinc-700 font-regular text-sm">
                    {post.data.title}
                  </h4>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </body>
</html>
