---
interface Props {
  when: string;
  title: string;
  description: string;
  link: string;
  projects: {
    image: string;
    name: string;
  }[];
}
const { when, title, description, link, projects } = Astro.props;
---

<div class="flex flex-col md:flex-row gap-6 items-">
  <span class="w-26 md:flex-shrink-0 text-xs font-light text-zinc-400"
    >{when}</span
  >
  <div class="md:flex-1 flex flex-col gap-2">
    <a href={link} target="_blank">
      <h4 class="text-sm mt-1 text-zinc-900">{title}</h4>
    </a>
    <p class="text-sm font-light text-zinc-700 leading-relaxed">
      {description}
    </p>
    <div class="flex gap-2 mt-3">
      {
        projects.map((project) => (
          <img
            src={project.image}
            alt={project.name}
            class="w-16 h-16 rounded object-cover"
          />
        ))
      }
    </div>
  </div>
</div>
