---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import profileImage from "../assets/profile.jpg";
import Posthog from "../components/posthog.astro";
import "../styles/global.css";
import "@fontsource-variable/inter";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
    <Posthog />
  </head>
  <body>
    <div class="max-w-xs md:max-w-2xl mx-auto mt-20">
      <!-- title -->

      <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-4">
          <Image
            src={profileImage}
            alt="Arseniy Shishaev"
            width={1000}
            height={1000}
            class="rounded-full w-14 h-14 object-cover object-top"
          />

          <a href="/" class="text-sm font-light text-zinc-400"
            >Arseniy Shishaev</a
          >
        </div>

        <div class="flex flex-col gap-2">
          <div class="flex flex-col gap-2 mt-4">
            <h1 class="text-xl font-semibold text-zinc-900">{title}</h1>
          </div>

          <div
            class="prose prose-zinc prose-sm prose:text-zinc-600 prose-h1:text-2xl prose-h1:mt-8
            prose-headings:font-semibold pb-12"
          >
            <slot />
          </div>
          <div class="md:w-2xl w-xs">
            <iframe
              src="https://arseniy.substack.com/embed"
              height="150"
              class="mb-24 md:w-3/4 w-full mx-auto"
              style=" background:white;"
              frameborder="0"
              scrolling="no"></iframe>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
